<?xml version="1.0"?>
<config>
    <modules>
        <Jvs_FileAttribute>
            <version>1.0.0</version>
        </Jvs_FileAttribute>
    </modules>
    <global>
        <blocks>
            <jvs_fileattribute>
                <class>Jvs_FileAttribute_Block</class>
            </jvs_fileattribute>
        </blocks>
        <models>
            <jvs_fileattribute>
                <class>Jvs_FileAttribute_Model</class>
            </jvs_fileattribute>
        </models>
        <helpers>
            <jvs_fileattribute>
                <class>Jvs_FileAttribute_Helper</class>
            </jvs_fileattribute>
        </helpers>
        <events>
            <catalog_entity_attribute_save_before>
                <observers>
                    <jvs_fileattribute>
                        <type>model</type>
                        <class>jvs_fileattribute/observer</class>
                        <method>assignBackendModelToAttribute</method>
                    </jvs_fileattribute>
                </observers>
            </catalog_entity_attribute_save_before>
        </events>
    </global>
    <adminhtml>
        <events>
            <adminhtml_product_attribute_types>
                <observers>
                    <jvs_fileattribute>
                        <type>model</type>
                        <class>jvs_fileattribute/observer</class>
                        <method>addFileAttributeType</method>
                    </jvs_fileattribute>
                </observers>
            </adminhtml_product_attribute_types>
            <adminhtml_catalog_product_edit_element_types>
                <observers>
                    <jvs_fileattribute>
                        <class>jvs_fileattribute/observer</class>
                        <method>updateElementTypes</method>
                    </jvs_fileattribute>
                </observers>
            </adminhtml_catalog_product_edit_element_types>
            <adminhtml_catalog_product_form_prepare_excluded_field_list>
                <observers>
                    <jvs_fileattribute>
                        <class>jvs_fileattribute/observer</class>
                        <method>updateExcludedFieldList</method>
                    </jvs_fileattribute>
                </observers>
            </adminhtml_catalog_product_form_prepare_excluded_field_list>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <catalog_helper_output_construct>
                <observers>
                    <jvs_fileattribute>
                        <type>singleton</type>
                        <class>jvs_fileattribute/observer</class>
                        <method>changeFileAttributeOutput</method>
                    </jvs_fileattribute>
                </observers>
            </catalog_helper_output_construct>
        </events>
    </frontend>
    <default>
        <general>
            <validator_data>
                <input_types>
                    <jvs_file>jvs_file</jvs_file>
                </input_types>
            </validator_data>
        </general>
    </default>
</config>